@inherits LayoutComponentBase

<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <div class="top-row px-4">
        <a href="https://mither.blob.core.windows.net/img/CV_Mitchell_EN.pdf?sp=r&st=2020-08-29T15:37:32Z&se=2021-08-29T23:37:32Z&spr=https&sv=2019-12-12&sr=b&sig=K25U3qtcz1JK8WvT4yuRbwVCETfqaTkSKrpIYNDU0sY%3D" target="_blank">CV (English)</a>
        <a href="https://mither.blob.core.windows.net/img/CV_Mitchell_ES.pdf?sp=r&st=2020-08-29T15:38:35Z&se=2020-08-29T23:38:35Z&spr=https&sv=2019-12-12&sr=b&sig=WAXrIX7Ac5inGhVT65PqxMb7SyciL2He%2B0YnxTOjY8k%3D" target="_blank">CV (Spanish)</a>
        <a href="mailto: mit.broadhurst@gmail.com">mit.broadhurst@gmail.com</a>
        <a href="tel:+447706609946">+44 (0)7706609946</a>
        <a href="tel:+34623006753">+34 623006753</a>
    </div>

    <div class="content px-4">
        @Body
    </div>
</div>
