@inherits LayoutComponentBase

<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    @* <div class="top-row px-4">
        <a href="https://mither.blob.core.windows.net/img/CV_Mitchell_EN.pdf?sp=r&st=2020-08-30T10:36:57Z&se=2021-08-30T18:36:57Z&spr=https&sv=2019-12-12&sr=b&sig=6Qzdv9lro8lv%2FH9OEt3YqYhiColP%2BSY9t9LGq23twus%3D" target="_blank">CV (English)</a>
        <a href="https://mither.blob.core.windows.net/img/CV_Mitchell_ES.pdf?sp=r&st=2020-08-30T10:37:31Z&se=2021-08-30T18:37:31Z&spr=https&sv=2019-12-12&sr=b&sig=aycHnLa4zhShyAAIyyckzLHtwDtCG1IpwL%2BAgn9jEnA%3D" target="_blank">CV (Spanish)</a>
        <a href="mailto: mit.broadhurst@gmail.com">mit.broadhurst@gmail.com</a>
        <a href="tel:+447706609946">+44 (0)7706609946</a>
        <a href="tel:+34623006753">+34 623006753</a>
    </div> *@

    <div class="content px-4">
        @Body
    </div>
</div>
